*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
  font-size: 60%;
}

body{
  background-color: white;
  width: 100%;
  height: auto;
}

:root{

}

.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornflowerblue
}

.navbar-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: #ffff;
  }

  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color:cornflowerblue;
  }
  
  .navbar-menu a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #A7A7AB;
  }
  
  .navbar-menu a:hover {
    background: #ffff;
  }
  
  @media all and (max-width: 800px) {
    .navbar-menu {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navbar-menu {
      flex-flow: column wrap;
      padding: 20px;
    }
  }
    .navbar-menu a { 
      text-align: center; 
      padding: 10px; 
    }

    #navbar-logo{
      color: cornflowerblue;
      font-size: large;
      font-weight: 600;
      font-size: 2.5rem;
      padding-left: 30px;
  }

.logos-width {
    display: flex;
    justify-content: space-around;
    padding: 30px 30px 30px;
    margin-top: 20px;
    opacity: 0.4;
}

.container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-end;
    order: 2;

}

.container1 {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-start;
    order: 1;
}

button{
  background-color: cornflowerblue;
  text-decoration: #ffff;
  box-shadow: 0px 10px 13px -7px #000000, -35px -34px 26px -22px rgba(0,0,0,0);
}

.HeaderContainer{
  /* border: solid green; */
      display: flex;
      flex-direction: row;
      width: 100%;
      height: auto; 
}


.HeaderContainer1{
 
  width: 55%;
  padding: 100px;

  
}

.Headercontainer h1{
  color: #1f3e72;
  font-size: 5.5rem;
  margin-bottom: 15px;
  margin-top: -30px;
  
}

.Headercontainer p{
  color: var(--Text-gray);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  margin-left: 6px;
}

.HeaderContainer1-icons{
display: flex;
flex-direction: row;
justify-content: flex-start;
padding: 30px 90px 30px 0px;
margin-left: 0px;
}

.Icons-Shield1{
  display: flex;  
  position: left;
}

.Icons-Star1{
  display: flex;  
  position: left;
}


.Icons-Shield1-text p{
  position: left;
  font-size: .7rem;
  font-weight: 600;
  color: var(--mainTitle-blue);
  margin-right: 50px;
  
}

.Icons-Star1-text p{
  position: left;
  font-size: .7rem;
  font-weight: 600;
  color: var(--mainTitle-blue);
  margin-right: 50px;
  
}

.shield.solid, .star.solid {
  color: gold;
  background-color: var(--faded-yellow);
  padding: 3.6px;
  box-shadow: 0px 1px 5px var(--just-yellow);
  align-self: center;
  margin-right: 11px;
}

.HeaderContainer2 {
  background: linear-gradient(to right,var(--light-blue) 7%, var(--heavy-blue) 100%);
  width: 45%;
  object-position: right;
}

.HeaderContainer2Img {
  width:500px;
  height: 490px;
  position: relative;
}

.HeaderContainer3{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  left: 200px;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.966);
  box-shadow: 8px 20px 72px var(--faded-blue);
  border-radius: 5px;
  padding: 22px 18px 22px;
}

.HeaderContainer3-Schedule{
  display: flex;
  position: absolute;
  bottom: 110px;
}

.HeaderContainer3-icon{
  display: flex;
}

.HeaderContainer3-icon p{
  position: relative;
  font-size: 1.9rem;
  font-weight: 600;
  color: var(--mainTitle-blue);
  margin-right: 50px;
}

.Container3-info-ldv {
  display: flex;
}

.info-ldv-location, .info-ldv-date,
.info-ldv-type{
display: flex;
}

.Container3-info-ldv p{
  position: relative;
  font-size: 1rem;
  font-weight: 200;
  color: var(--Text-gray);
  margin-right: 50px;
}

.location.solid,
.date.solid,
.syringe.solid{
    color: var(--titleButton-blue);
    background-color: var(--faded-blue);
    box-shadow: 0px 1px 5px var(--titleButton-blue);
    padding: 4px 3px 4px;
    align-self: center;
    margin-right: 11px;
    margin-left: 12px;
}

.bottom-info-data{
  display: flex;
}

.clock.solid{
  color: var(--titleButton-blue);
  background-color: var(--faded-blue);
  box-shadow: 0px 1px 5px var(--titleButton-blue);
  padding: 8px 3px 8px;
  align-self: center;
  margin-right: 15px;
  margin-left: 12px;
}

.bottom-info-data p{
  color: var(--mainTitle-blue);
  font-weight: 900;
  font-size: 1.7rem;
  margin: 0px 5.7px 0px;
  padding-left: 35px;
  padding-top: 7px;
}

#Submit{
  color: var(--just-white);
  background-color: var(--titleButton-blue);
  padding: 11px 40px;
  border-radius: 5px;
  box-shadow: 1.3px 1px 27px var(--Text-gray);
  text-decoration: none;
  position: absolute;
  left: 555px;
  bottom: 25px;
  font-weight: 600;
  font-size: 1.56rem;
}

.logos{
  display: flex;
  justify-content: space-around;
  padding: 27px 0px 17px;
  margin-top: 30px;
  opacity: 0.4;
}

.whyvaccine{
  height: 720px;
  width: 100%;
  padding: 100px 100px 0px;
}

.whyvaccine-title h1{
  font-size: 2rem;
  color: #1f3e72;
}

.whyvaccine-title p{
  color: var(--Text-gray);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 27px;
}

.whyvaccinecards {
  display: flex;
  justify-content: space-between;
  padding: 40px 2px;
}

.whyvaccinecards h4{
  font-size: medium;
  color: var(--mainTitle-blue);
  margin-top: 13px;
  font-size: 1.3rem;
  color: #1f3e72;
}

.whyvaccinecards p{
  margin-top: 10px;
  color: var(--Text-gray);
  font-weight: 400; 
  font-size: 1rem;
}

.why1, .why2,
.why3, .why4{
    border: solid rgba(220, 220, 220, 0.315);
    border-radius: 9px;
    width: 240px;
    height: 300px;
    padding: 20px;
}

.virus.solid,
.shield1.solid,
.user.solid,
.chart.solid{
    color: var(--heavy-blue);
    background-color: var(--faded-blue);
    border-radius: 4px;
    padding: 5px;
}

.Preparations-container{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 600px;
}

.Preparations-right{
  /* border: solid turquoise; */
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-bottom: 60px;
}

.Preparations-title{
  align-self: center;
}

.Preparations-title h2{
  color: var(--mainTitle-blue);
  font-size: 2rem;
  margin-top: 20px;
  color: #1f3e72;
}

.Preparations-title p{
  color: var(--Text-gray);
  font-size: 1.5rem;
  font-weight: 600;
  margin: 23px 70px 30px 0px;
}

.Preparations-info{
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  padding: 12px 80px 0px;
}

.Preparations-cards h5{
  color: var(--mainTitle-blue);
  font-size: medium;
  display: inline-block;
  margin-left: 9px;
  font-weight: 600;
}

.Preparations-cards p{
  color: var(--Text-gray);
  font-size: medium;
  padding-top: 6px;
  padding-left: 39px;
}


.x.solid, 
.x.box, 
.chart1.solid, 
.check.solid,
.hearth.solid{
  color: var(--heavy-blue);
  background-color: var(--faded-blue);
  border-radius: 4px;
  padding: 5px;
}

.Preparation1,
.Preparation2,
.Preparation3,
.Preparation4,
.Preparation5{
  padding: 12px;
  border: solid rgba(220, 220, 220, 0.315);
  border-radius: 9px;
  margin-bottom: 12px;
}

.Preparation2{
  background-color: rgba(255, 255, 255, 0.966);
  box-shadow: 0px 1.2px 12px var(--faded-blue);
}


.emergency-info-right{
  display: flex;
  flex-direction: column;
  width: 45%;
  object-position: right
}

.Emergency-img{
  display: flex;
  flex-direction: column;
  object-position: right;
}

.Emergency-principal-info{
  padding: 12px;
  margin-top: 150px;
}

.main-emergency--info{
  padding: 12px;
  display: flex;
}

.Emergency-principal-info-left{
  width: 55%;
}

.Emergency-title{
  padding-left: 70px;
  /* bottom: 90px; */
}

.Emergency-title h2{
  color: var(--mainTitle-blue);
  font-size: 3rem;
  margin-bottom: 20px;
}

.Emergency-title p{
  color: var(--Text-gray);
  font-weight: 600;
  font-size: medium;

}



.Emergency-cards{
  display: grid;
  grid-template-columns: 30px 30px;
  grid-template-rows: 30px 30px;
  grid-gap: 245px;
  height: 490px;
  justify-content: end;
  margin-top: 30px;
  margin-left: 30px;
  width: 50%;
  
}

.emergency-cards__1,
.emergency-cards__2,
.emergency-cards__3,
.emergency-cards__4{
  width: 250px;
  height: 180px;
  background-color: var(--just-white);
  padding: 30px;
  border: solid rgba(220, 220, 220, 0.315);
  border-radius: 9px;
  margin-bottom: 12px;
}

.Emergency1,
.Emergency2,
.Emergency3,
.Emergency4,
.Emergency1-down,
.Emergency2-down,
.Emergency3-down,
.Emergency4-dow{
  width: 50%; 
}

.Emergency1-down,
.Emergency2-down,
.Emergency3-down,
.Emergency4-down{
  /* width: 129px; */
  width: auto;
  margin-top: 25px;

  color: var(--mainTitle-blue);
  background-color: var(--faded-blue);
  padding: 11px 20px;
  border-radius: 5px;

  text-align: center;
}

.Emergency2-down{
  background-color: var(--titleButton-blue);
  box-shadow: 1.3px 6px 27px var(--Text-gray);
  /* border-radius: 5px; */

}

.Emergency-cards h5{
  display: inline-block;
  font-size: medium;
  font-weight: 600;
}

.Emergency-cards p{
  font-size: small;
  color: var(--Text-gray);
  font-weight: 600;
  padding-left: 35px;
}

.Emergency-cards a{
  text-decoration: none;
  
}

#emeoptions{
  text-align: center;
  font-size: 1.56rem;
  font-weight: 600;
  color: var(--mainTitle-blue);
}

#chatnow{
  font-weight: 600;
  text-align: center;
  font-size: 1.56rem;
  color: var(--just-white);
}

.phone.solid,
.chat.solid,
.video.solid,
.message.solid{
  color: var(--titleButton-blue);
  background-color: var(--faded-blue);
  border-radius: 4px;
  padding: 5px;
  margin-right: 5px;
}

/* footer */

footer{
  /* border:  solid green; */
  padding: 5px;
  margin-top: 90px;
  width: 100%;
  
}

/* .footer-sections{
  border: solid fuchsia;
  padding: 5px; 
}*/
/* .footer-sections-up{
  border: solid firebrick;
  padding: 5px;
} */

.sections-up--info{
  /* border: solid gold; */
  display: flex;
  /* align-content: center; */
  /* align-items: stretch;
  justify-content: center; */
  padding: 30px;
  background-color: var(--faded-blue);
  height: 140px;
  /* width: 100%; */
}




.footer-sections-down{
  /* border: solid aqua; */
  background-color: var(--faded-blue);
  display: flex;
  justify-content: space-around;
}

address{
  justify-content: flex-end;
  color: var(--Text-gray);
  font-weight: 600;
  font-size: small;
}



.up-info--one{
  width: 33%;
}
.up-info--two{
  width: 33%;
}
.up-info--two{
  width: 33%;
}

/* .footer-goal{
  border: solid palegreen;
  
} */

.sections-up--info h6{
  color: var(--mainTitle-blue);
  font-size: medium;
  margin-bottom: 10px;
}

.sections-up--info p{
  font-size: small;
  color: var(--Text-gray);
  font-weight: 500;
  margin-top: 5px;
}

/* .up-info--three{
  border: solid saddlebrown;
} */

.info-three-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: space-between;
}

.footer-about,
.footer-company,
.footer-support{
  width: 170px;
  justify-content: space-between;
  align-content: space-between;
}

nav{
    color: cornflowerblue;
}

p{
color: #1f3e72;
text-align: center;
}

#titulo{
color: rgb(200,150,220);
text-align: right;
}

.Image1{
    image-orientation: top right;
}

.izquierda{
text-align: left;
}

.derecha{
text-align: right;
}

.centrado{
text-align: center;
}

.justificado{
text-align: justify;
}

.alReves{
direction: rtl;
unicode-bidi: bidi-override;
}

.decoradoOverline{
text-decoration-line: overline;
}

.decoradoLineThrough{
text-decoration-line: line-through;
}

.decoradoUnderline{
text-decoration-line: underline;
}

.decoradoCombinado{
text-decoration-line: underline;
text-decoration-color: red;
text-decoration-style: dotted;
text-decoration-thickness: 5px;
}

.negritas{
font-weight: 700;
}

.ligeras{
font-weight: 100;
}

.link{
text-decoration: none;
color: black;
}

.izquierda{
color: green;
}

p.izquierda{
text-decoration: underline;
text-align: left;
}

.contraste{
background-color: black;
}

h1, h2, h3 {
font-weight: bold;
color: #1f3e72;
}
  