*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    color:cornflowerblue
}

body{
    background-color: white;
}

nav{
    color: cornflowerblue;
}

p{
color: #6d7b93;
text-align: center;
}

#titulo{
color: rgb(200,150,220);
text-align: right;
}

.izquierda{
text-align: left;
}

.derecha{
text-align: right;
}

.centrado{
text-align: center;
}

.justificado{
text-align: justify;
}

.alReves{
direction: rtl;
unicode-bidi: bidi-override;
}

.decoradoOverline{
text-decoration-line: overline;
}

.decoradoLineThrough{
text-decoration-line: line-through;
}

.decoradoUnderline{
text-decoration-line: underline;
}

.decoradoCombinado{
text-decoration-line: underline;
text-decoration-color: red;
text-decoration-style: dotted;
text-decoration-thickness: 5px;
}

.negritas{
font-weight: 700;
}

.ligeras{
font-weight: 100;
}

.link{
text-decoration: none;
color: black;
}

.izquierda{
color: green;
}

p.izquierda{
text-decoration: underline;
text-align: left;
}

.contraste{
background-color: black;
}

h1, h2, h3 {
font-weight: bold;
color: #1f3e72;
}